#two .box {
    background-color: black;
}
#two .box h2{
    color: whitesmoke;
}
.card-small .size {
   width: calc((100% - 90px) / 4);
   display: inline-block;
   vertical-align: top;
   margin: 0 30px 30px 0;
    padding: 0;
}
.card-small .size:nth-child(4n) {
    margin-right: 0px;
}

@media all and (max-width: 1120px) {
    .card-small .size {
       width: calc((100% - 60px) / 3);
       display: inline-block;
       vertical-align: top;
       margin: 0 20px 20px 0;
        padding: 0;
    }
    .card-small .size:nth-child(4n) {
        margin-right: 20px;
    }
    .card-small .size:nth-child(3n) {
        margin-right: 0px;
    }
}
@media all and (max-width: 768px) {
    .card-small .size {
       width: calc((100% - 20px) / 2);
       display: inline-block;
       vertical-align: top;
       margin: 0 20px 20px 0;
        padding: 0;
    }
    .card-small .size:nth-child(4n) {
        margin-right: 20px;
    }
    .card-small .size:nth-child(3n) {
        margin-right: 20px;
    }
    .card-small .size:nth-child(2n) {
        margin-right: 0px;
    }
}
@media all and (max-width: 550px) {
    .card-small .size {
       width: 100%;
       display: block;
       
       margin: 0 0 20px 0;
        padding: 0;
    }
}
@media all and (max-width: 480px) {
    .logo {
        visibility: hidden;
    }
    .indicators {
        visibility: hidden;
    }
    .banner > article h2 {
        font-size: 2em;
        padding-bottom: 20px;
    }
}
.gallery-wrapper {
  width: 100%;
  padding: 50px 15px;
  background-color: #000;
}

#info {
    position: fixed;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#info p {
    display: inline-block;
    margin:0 auto;
}
.wrapper.style3.pink-bg {
    background-color: #fff;
    color: #000;
    /* #ff62ed */
}
.wrapper.style3.pink-bg h2 {
    color: #000;
}
.wrapper.style3.pink-bg a.button.special {
    background-color: #ff62ed;
}
.wrapper.style3.pink-bg p{
    color: #000;
}
.wrapper.style3.pink-bg p:after {
    background-color: #000;
}
.head-mail {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.head-mail a {
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;
    
}
.head-mail a:hover {
    color: #bfbfbf;
}
@media all and (max-width: 768px) {
    .head-mail{
        visibility: hidden;
    }
}
#header > .logo a {
    font-size: 1.8em;
    color: #FFF;
    text-decoration: none;
}
#header > .logo span {
    font-weight: 200;
}
#header > a:last-child {
    font-size: 1.25em;
}
@media screen and (max-width: 768px) {
    #header > .logo a {
        font-size: 1.25em;
    }
    #header > a:last-child {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 768px) {
    .box.info {
        width: 100%;
    }
}
.box.info {
    width: 50%;
    float: left;
}
.map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    margin-left: 50px;
    position:absolute;
}
.inner:after {
    content:'';
    display:block;
    clear: both;
}

@media screen and (max-width: 1102px) {
    .box.info {
        float: none;
        margin-left: 0;
    }
}
.wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"], .wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea {
    background-color: #FFF;
}
.wrapper.style2 input[type="submit"], .wrapper.style2 input[type="reset"], .wrapper.style2 input[type="button"], .wrapper.style2 button, .wrapper.style2 .button {
    background-color: #000;
    box-shadow: inset 0 0 0 2px rgba(255,255,255);
    color: #f2f2f2 !important;
}
.wrapper.style2 .button.special.pink-btn {
    background-color: #ff62ed;
}
.wrapper.style2 a {
    color: #fff;
    text-decoration: none;
}
.wrapper.style2 a:hover {
    color: #bfbfbf;
}
